{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{#block "Title"}}Travel WishList{{/block}}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>

    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/locations">Locations</a>
        <a href="/wishlist">My Wish List</a>
        <a href="/logout">Log out</a>
    </div>
    <div class="page">
    {{#if flashMessage}}
            <p id="flash-message">{{ flashMessage }}</p>
    {{/if}}
    <h1 id="topHeader" >TRAVEL WISH LIST</h1>
{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}